<mat-drawer-container class="cost-estimates">
  <mat-drawer *ngIf="!userService.userIs(['builder'])" mode="side" opened="true">
    <p class="packages-text">Master Packages</p>
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <mat-checkbox [checked]="isSelected(node)" 
        (change)="billToggle($event, node)"></mat-checkbox>
        <span class="p-l-1">{{node.item}}</span>
      </mat-tree-node>
      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.item}}
      </mat-tree-node>
    </mat-tree>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="proposal">
      <h2 class="header p-l-1">Cost Estimates / <span>{{proposal.name}}</span>
      </h2>
      <mat-grid-list cols="12" rowHeight="30px">
        <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="columnBackground"
          [style.color]="columnTextColor">
          {{tile.text}}
        </mat-grid-tile>
      </mat-grid-list>
      <ng-container *ngIf="selectedBills.length>0">
        <mat-grid-list cols="12" rowHeight="100px" *ngFor="let bill of selectedBills">
          <ng-container *ngFor="let activity of bill.activities">
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{activity.code}}</mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">{{activity.shortDescription}}</mat-grid-tile>
            <mat-grid-tile class="activity-description" [colspan]="2" [rowspan]="1">{{activity.description}}</mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">{{activity.uom}}</mat-grid-tile>
            <ng-container *ngIf="proposal.costEstimates && proposal.costEstimates.status == 'SUBMITTED' || userService.userIs(['builder'])">
              <mat-grid-tile [colspan]="2" [rowspan]="1">{{activity.quantity}}</mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">{{activity.rate}}</mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">{{activity.amount}}</mat-grid-tile>
            </ng-container>
            <ng-container *ngIf="!userService.userIs(['builder']) && proposal.costEstimates && proposal.costEstimates.status != 'SUBMITTED'">
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field style="width: 60px;">
                  <input matInput (keyup)="getTotal(activity)" placeholder="Qty." [(ngModel)]="activity.quantity">
                  <mat-icon *ngIf="!userService.userIs(['builder'])" class="link" (click)="getQuantity(selectedMaster, activity)" matSuffix>mode_edit</mat-icon>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field style="width: 100px;">
                  <span matPrefix>&#8377;</span>
                  <input matInput placeholder="Rate" name="rate" [(ngModel)]="activity.rate">
                  <span matSuffix>.00</span>
                </mat-form-field>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="2" [rowspan]="1">
                <mat-form-field style="width: 100px;">
                  <span matPrefix>&#8377;</span>
                  <input matInput [(ngModel)]="activity.amount" placeholder="Amount" >
                  <span matSuffix>.00</span>
                </mat-form-field>
              </mat-grid-tile>
            </ng-container>
          </ng-container>
        </mat-grid-list>
        <div class="m-r m-b pull-right">
          <button *ngIf="proposal.costEstimates && proposal.costEstimates.status!='SUBMITTED' && userService.userIs(['manager','management'])" class="m-r" mat-raised-button color="primary" (click)="save(true)">Submit To Builder</button>
          <button *ngIf="userService.userIs(['engineer','manager','management']) && proposal.costEstimates && proposal.costEstimates.status!='SUBMITTED'" mat-raised-button color="primary" (click)="save(false)">Save</button>
        </div>
        <div class="m-r m-b pull-right" *ngIf="!builderCommentStatus && userService.userIs(['builder'])">
          <button class="m-r" mat-raised-button color="primary" (click)="rejectCostEstimates(true)">Approve</button>
          <button mat-raised-button color="primary" (click)="rejectCostEstimates(false)">Reject</button>
        </div>
      </ng-container>
      <p class="padding" *ngIf="!selectedBills.length">
        Nothing Found Here. Please Select Bills Add Estimates.
        <i class="material-icons v-a-m">face</i>
      </p>
      <h3 class="padding">
        {{builderCommentStatusMsg}}
      </h3>
    </div>
  </mat-drawer-content>
</mat-drawer-container>