<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Rate Input</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button [mat-dialog-close]>
      <i class="material-icons">clear</i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="orgForm">
    <ng-template matStepLabel>Schedule Of Rates</ng-template>
    <div class="rate-input col-12">
      <div class="col-6">
        <small class="text-muted">Code</small>
        <div class="_500">{{master.code}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Description</small>
        <div class="_500">{{master.description}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Cost Code</small>
        <div class="_500">{{master.costCode}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Cost Centre</small>
        <div class="_500">{{master.costCentre}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Activity Code</small>
        <div class="_500">{{activity.code}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Description</small>
        <div class="_500">{{activity.description}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">Short Description</small>
        <div class="_500">{{activity.shortDescription}}</div>
      </div>
      <div class="col-6">
        <small class="text-muted">UOM</small>
        <div class="_500">{{activity.uom}}</div>
      </div>

    </div>
  </mat-step>
  <mat-step [stepControl]="orgForm">
    <ng-template matStepLabel>Rate Analysys</ng-template>
    <div class="rate-analysys col-12">

      <div class="rateItems" *ngFor="let item of rateInput;let index=index">
        <p class="_600">{{item.label}}
          <a class="add-item" (click)="addNewItem(item)">
            <i class="material-icons link">add</i> New
          </a>
        </p>
        <ng-container *ngFor="let _item of item.items">
          <div>
            <mat-form-field class="input-code">
              <input matInput placeholder="Code" [ngModelOptions]="{standalone: true}" [(ngModel)]="_item.code">
            </mat-form-field>
            <mat-form-field class="input-desc">
              <textarea matInput placeholder="Description" [ngModelOptions]="{standalone: true}" [(ngModel)]="_item.description"></textarea>
            </mat-form-field>
            <mat-form-field class="input-uom">
              <input matInput placeholder="UOM" [ngModelOptions]="{standalone: true}" [(ngModel)]="_item.uom">
            </mat-form-field>
            <mat-form-field class="input-coeff">
              <input matInput placeholder="Coeff" [ngModelOptions]="{standalone: true}" (keyup)="calculateAmount(_item, item)" [(ngModel)]="_item.coeff">
            </mat-form-field>
            <mat-form-field class="input-rate">
              <input matInput placeholder="Rate" [ngModelOptions]="{standalone: true}" (keyup)="calculateAmount(_item,item)" [(ngModel)]="_item.rate">
            </mat-form-field>
            <mat-form-field class="input-amount">
              <span matPrefix>&#8377;</span>
              <input matInput placeholder="Amount" (keyup)="calculateSubTotal(item)" [ngModelOptions]="{standalone: true}" [(ngModel)]="_item.amount">
              <span matSuffix>.00</span>
            </mat-form-field>
          </div>
        </ng-container>
        <p class="sub-total font-sm _600">Sub Total of {{item.label}}: {{item.subTotal}}</p>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="orgForm">
    <ng-template matStepLabel>Rate/Unit</ng-template>
    <div class="rate-analysys row">

      <div class="col-12">
        <small class="text-muted">Total Cost: </small>
        <span class="_500">{{totalCost}}</span>
      </div>
      <div class="col-12">
        <small class="text-muted">Basic Cost: </small>
        <mat-form-field class="input-code">
          <input matInput [ngModelOptions]="{standalone: true}" (change)="calculateRatePerUnit()" [(ngModel)]="basicCost">
        </mat-form-field>
      </div>
      <div class="col-12">
        <span class="flex-spacer"></span>
        <small class="text-muted">Overhead & Profile Margin ({{profitMargin}}%)</small>
        <mat-slider (change)="calculateRatePerUnit()" max="100" min="0" step="5" [(ngModel)]="profitMargin"></mat-slider>
      </div>
      <div class="col-12">
          <span class="_600">Calculated Rate/Unit: </span> {{ratePerUnit}}
      </div>
      
      <button mat-raised-button color="primary" (click)="approve()">Approve Rate/Unit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>