.col-6 {
    margin-bottom: 16px;
}
h4 {
    font-size: 16px;
    font-weight: 700;
    color: cornflowerblue;
}

.rate-input,
.rate-analysys {
  padding: 0 12px;
  font-size: 14px;
}
.add-item {
    float: right;
    color: blue;
    cursor: pointer;
}
.add-item i {
  vertical-align: middle;
}
.rate-input,
.rate-analysys {
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 5px;
}
.input-code {
    width: 120px;
}
.input-desc {
    width: 360px;
}
.input-uom {
    width: 120px;
}
.input-coeff {
  width: 120px;
}
.input-rate {
    width: 120px;
}
.input-amount {
    width: 120px;
}
.rateItems {
    border-bottom: 1px solid #ccc;
}
.sub-total {
  color: darkcyan;
  font-size: 16px;
}

.rate-analysys .text-muted {
    font-size: 14px;
    font-weight: 700;
}