  <ng-container *ngFor="let scope of scopeItems">
    <p class="_700 t-d-u">{{scope.name}}</p>
    <table class="proposal-activities">
      <thead>
        <tr>
          <th>Activity</th>
          <th>UOM</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of scope.workItems">
          <td>
            <span *ngIf="!item.custom">{{item.name}}</span>
            <mat-form-field *ngIf="item.custom">
              <input matInput placeholder="Custom Activity" name="name" [(ngModel)]="item.name">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput name="uom" [(ngModel)]="item.uom">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput name="quantity" [(ngModel)]="item.quantity">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput name="rate" [(ngModel)]="item.rate">
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <input matInput name="amount" (change)="calculateAmount($event)" [(ngModel)]="item.amount">
            </mat-form-field>
          </td>
          <td>
              <i (click)="removeActivity(scope,item)" class="material-icons remove">close</i>
          </td>
        </tr>
      </tbody>
      <button (click)="addActivity(scope)" class="add-activity" mat-raised-button color="primary">Add New Activity</button>
    </table>
  </ng-container>
  <div class="m-t text-right">
    <P class="bold" [hidden]="!totalAmount">Total {{totalAmount}}</P>
    <button (click)="savePriceSchedule()" mat-raised-button color="primary">Save & Continue</button>
  </div>