<table>
    <thead>
      <tr>
        <th>Regian</th>
        <th>Q1 2010</th>
        <th>Q2 2010</th>
        <th>Q3 2010</th>
        <th>Q4 2010</th>
      </tr>
    </thead>
    

    
      <tbody class="labels">
        <tr>
            <mat-accordion>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Personal data
                    </mat-panel-title>
                    <mat-panel-description>
                      Type your name and age
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                
                  <td>
                  <mat-form-field>
                    <input matInput placeholder="First name">
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <input matInput placeholder="Age">
                  </mat-form-field>
                </td>
                <td>
                    <mat-form-field>
                      <input matInput placeholder="First name">
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput placeholder="Age">
                    </mat-form-field>
                  </td>
                </mat-expansion-panel>
              </mat-accordion>
          
        </tr>
      </tbody>
      <tbody class="hide">
        <tr>
          <td>Australia</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
        <tr>
          <td>Central America</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
      </tbody>
      <tbody class="labels">
        <tr>
          <td colspan="5">
            <label for="management">Management</label>
            <input type="checkbox" name="management" id="management" data-toggle="toggle">
          </td>
        </tr>
      </tbody>
      <tbody class="hide">
        <tr>
          <td>Australia</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
        <tr>
          <td>Central America</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
        <tr>
          <td>Europe</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
        <tr>
          <td>Middle East</td>
          <td>$7,685.00</td>
          <td>$3,544.00</td>
          <td>$5,834.00</td>
          <td>$10,583.00</td>
        </tr>
      </tbody>		
    
  </table>