<mat-drawer-container autosize>
  <mat-drawer #drawer opened="true" mode="side">
    <div class="brand">
      <a routerLink="../dashboard/proposals">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
          <path d="M 4 4 L 44 4 L 44 44 Z" fill="#F5F5F5"></path>
          <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
          <path d="M 4 4 L 24 4 L 4  44 Z" fill="#f44455"></path>
        </svg>
      </a>
    </div>
    <nav class="left-nav">
        <ul>
          <li>
            <a routerLink="../dashboard">
              <i class="material-icons">dashboard</i>
              <span>Dashboard</span>
            </a>
          </li>
          <li class="active">
            <a routerLink="../masters">
              <i class="material-icons">book</i>
              <span>Masters</span>
            </a>
          </li>
          <li>
            <i class="material-icons">settings</i>
            <span>Settings</span>
          </li>
          <li>
            <i routerLink="../dashboard/drawings" class="material-icons">photo_album</i>
            <span>Drawings</span>
          </li>
        </ul>
      </nav>
  </mat-drawer>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <p class="brand-name p-l-1">QUANSOFT</p>
      <div class="flex-spacer"></div>
      <ul class="right-nav">
        <li>
          <i class="material-icons">notifications</i>
        </li>
        <li class="user-name" [matMenuTriggerFor]="menu">
          <span>{{user.name}}</span>
        </li>
      </ul>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <div class="user-menu clear-fix">
          <div class="avatar">
            <span class="initials">SR</span>
          </div>
          <div class="user-name">
            <h1>{{user.name}}</h1>
            <p class="n-m-t">{{user.email}}</p>
            <button mat-raised-button color="primary">View Profile</button>
          </div>
          <ul class="nav-items">
            <li class="list-item">
              <a>Settings</a>
            </li>
            <li (click)="logout()" class="list-item">
              <a>Logout</a>
            </li>
          </ul>
        </div>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-drawer-container>