<div class="login-card text-center">
  <div class="form-wrapper">
    <h2>QUANSOFT LOGIN</h2>
    <form (ngSubmit)="login(signupForm)" #signupForm="ngForm">
      <mat-form-field>
        <input matInput type="text" placeholder="Username" name="userId" [(ngModel)]="user.userId" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" name="password" [(ngModel)]="user.password" required>
      </mat-form-field>
      <p class="error text-left" *ngIf="loginError">Couldn't find your account.</p>
      <button type="submit" mat-raised-button color="primary">Login</button>
    </form>
    <p><a href="#" class="forgot-pass">Forgot Password?</a></p>
  </div>
</div>