.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 5px solid #eee;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 150px;
	height: 150px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.mat-dialog-content {
	max-height: initial!important;
}

._700 {
	font-weight: 700;
}
.font-sm {
	font-size: 16px;
}