@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import '~handsontable/dist/handsontable.full.css';
@import 'grid.css';

*, ::after, ::before {
  box-sizing: border-box;
}

::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

body {
  font-family: 'Roboto';
  background-color: #2e3e4e;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

._500 {
  font-weight: 500;
}
._600 {
  font-weight: 600;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
._500 {
  font-weight: 500;
}
._600 {
  font-weight: 600;
}

.flex-spacer {
  flex-grow: 1;
}

.pull-left {
  float: left;
}
.block {
  display: block;
}
.pull-right {
  float: right;
}
.v-a-m {
  vertical-align: middle;
}
.material-icons.link {
  cursor: pointer;
}
.material-icons.menu-link {
  vertical-align: middle;
	line-height: 19px;
}

.material-icons.link:hover {
  outline: none;
}

.p-l-1 {
  padding-left: .5rem;
}

.p-l-2 {
  padding-left: 1rem;
}

.n-m-t {
  margin-top: 0;
}

.clear-fix::after {
  clear: both;
}

li {
  list-style-type: none;
}

.m-t {
  margin-top: 1rem;
}
.m-b {
  margin-bottom: 1rem;
}

.error {
  color: #cc0000;
  font-size: .875rem;
}

.padding {
  padding: 1rem;
}

.mat-form-field-wrapper {
  padding-bottom: .876rem;
  font-size: 15px;
}

.text-muted {
  opacity: .6;
}
.row {
  margin-bottom: .75rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class*=col-] {
  padding-left: 12px;
  padding-right: 12px;
}

.col-2 {
  width: 16.66%;
  float: left;
}

.col-3 {
  width: 25%;
  float: left;
}

.col-4 {
  width: 33%;
  float: left;
}

.col-6 {
  width: 50%;
  float: left;
}

.col-8 {
  width: 66.6%;
  float: left;
}

.col-12 {
  width: 100%;
  float: left;
}

.t-d-u {
  text-decoration: underline;
}
.d-i-b {
  display: inline-block;
}

.mat-step-label {
  font-size: 16px;
}

.mat-step-label.mat-step-label-active.mat-step-label-selected {
  color: #427ac7;
}

.mat-step-label-active {
  color: #427ac7;
}

.mat-step-icon {
  background-color: #427ac7!important;
}

.spinner {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	margin: -75px 0 0 -75px;
	border: 5px solid #eee;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 150px;
	height: 150px;
	-webkit-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.remove {
  cursor: pointer;
  color: #cc0000;
  font-size: 18px;
  font-weight: bold;
  margin-right: 10px;
}

.new-master-dialog .mat-dialog-container {
  padding: 0;
  width: 85vw;
  min-height: 540px;
}
.rate-input-dialog .mat-dialog-content {
  max-height: 100vh;
}
.rate-input-dialog .mat-dialog-container {
  padding: 0;
  width: 85vw;
  min-height: 540px;
  overflow-x: hidden;
}
.quantity-input-dialog .mat-dialog-container {
  padding: 0;
  width: 60vw;
  min-height: 480px;
}
.new-resource-dialog .mat-dialog-container {
  padding: 0;
  width: 80vw;
  min-height: 480px;
}
.mat-dialog-container .mat-toolbar-row .mat-button {
  color: #fff;
  background-color: #3f51b5;
}

.mat-table .mat-header-row {
  background-color: #427ac7;
  min-height: 32px;
}

.mat-table .mat-header-row .mat-header-cell {
  color: #fff;
  font-size: 15px;
}

.brand {
  padding: .85rem 1.875rem;
  background-color: #427ac7;
  border-bottom: 1px solid #fff;
}

.app-toolbar {
  background-color: #427ac7;
  color: #fff;
}

.rate-input-component .mat-expansion-panel-body {
  position: relative;
}

.grid-custom .mat-figure {
  display: block!important;
}
a {
  text-decoration: none;
}