<mat-card id="project-detail" *ngIf="project">
  <a class="download-as-pdf" matTooltip="Download As PDF" (click)="download()">
    <i class="material-icons">picture_as_pdf</i>
  </a>
  <div id="page-1" class="proposal-doc">
    <div class="doc-header">Quansys Consulting | Proposal for {{project.name}}</div>
    <div class="proposal-text">PROPOSAL FOR COST CONSULTING SERVICES</div>
  </div>
  <div id="page-2" class="proposal-doc">
    <h3>Profile</h3>
    <p>
      Quansys Consulting is an Indian; Bangalore based Professional Cost Consulting Firm. We are inimitably qualified to provide
      proficient Project Management & Cost consultancy services to the Residential, Office, Hospitality buildings to the developers,
      and corporate companies. We provide clients assistance in the areas of Quantity Survey, Cost Consulting & Project Management.
    </p>
    <p>
      We have assisted a wide range of clients on a multitude of projects all over South Consultants and engineering professionals
      comprehensively trained and experienced in ample of projects. From Cost consulting, Quantity Surveying to Project Managemen
      have successfully provided proactive and cost effective project support on most multifaceted projects.
    </p>
    <p>
      We offer clients cost effective high fidelity total consulting solutions that are fined tuned to each client’s specific requirement
      to face the growing business challenges. We drive efficiency at every stage of the project by balancing the Cost, Time
      and Quality, we’re able to use the latest methodologies to analyse cost, risk and results whilst ensuring sustainable
      and attainable outcomes for every project and client.
    </p>
    <img src="/assets/images/pdf-1.png">
  </div>
  <div id="page-3" class="proposal-doc">
    <h3>Overview</h3>
    <p>
      Quansys India manages the complete development of the facility from its concept & design to till the commission and handing
      over to client. We work as a client representative and coordinating all other consultants and contractors involved in
      the Project. Apart from the coordination we shall ensure the project is delivered within stipulated cost & time with
      highly intended quality of the work.
    </p>
    <p>
      We provide our services for the project with a detailed review of the project scope and development of a brief which details
      all of the project requirements. After the agreement sign- off on the same we follow the processes outlined in the SCOPE
      OF SERVICES in wide to coordinate responsibilities, Selection of Consultants & sub-Contractors, Provide BOQ, Budget Preparation,
      Construction Contracts, Bill Management, Change Management, Project Scheduling, Cash flow Planning, Resource Planning
      (Manpower & Material) , Site review meetings, Quality Audit, Quantity Audit, Value Engineering, Cost Monitoring & Control,
      Progress Monitoring & reporting (from Back office).
    </p>

    <h3>Project Information</h3>
    <p><i class="material-icons">check</i> Project Name: {{project.name}}</p>
    <p><i class="material-icons">check</i> Location: {{project.location}}</p>
    <p><i class="material-icons">check</i> Built-up Area in Sqft: {{project.builtupArea}}</p>
    <p><i class="material-icons">check</i> No of Building: {{project.noOfBuildings}}</p>
    <p><i class="material-icons">check</i> No of Floors: {{project.numberOfFloors}}</p>
    <p>As per the understandings the above given are the Project details and we outlined our scope of
        services to your project specific given under Scope of services.</p>
  </div>
  <div id="page-4" class="proposal-doc payment-terms">
      <h3>Scope Of Services</h3>      
        <div *ngFor="let scope of project.scopeItems" class="row">
            <div class="col-12" *ngFor="let activity of scope.workItems">
              <div class="_500">{{activity.name}}</div>
            </div>
          </div>
      <h3>PAYMENT TERMS:</h3>
      <div *ngFor="let term of project.paymentTerms" class="row">
          <div class="col-12">
            <div class="_500">{{term.description}}</div>
          </div>
        </div>
  </div>
  <div id="page-5" class="proposal-doc terms-detail">
    <h3>Terms & Conditions</h3>
    <div *ngFor="let key of project.termsAndonditions | keys" class="row">
      <div class="col-12">
        <small class="text-muted">{{key}}</small>
        <div class="_500">{{project.termsAndonditions[key]}}</div>
      </div>
    </div>
  </div>   
</mat-card>