<div class="padding">
  <mat-grid-list cols="4" rowHeight="600px">
    <mat-grid-tile class="masters-grid" [colspan]="1" [rowspan]="1">
      <p *ngIf="!masters">No Packages Found.</p>
      <mat-form-field *ngIf="masters" class="package-search">
        <span matPrefix> <i class="material-icons v-a-m">search</i>&nbsp;</span>
        <input (keyup)="filterByName()" [(ngModel)]="packageName" type="text" matInput placeholder="Search Package">
      </mat-form-field>
      <div (click)="selectedPackage = package;" class="package-item" *ngFor="let package of masters;let index=index;">
        <p class="n-m">{{package.code}}</p>
        <small class="block text-muted">{{package.description}}</small>
      </div>
    </mat-grid-tile>
    <mat-grid-tile class="masters-grid" [colspan]="3" [rowspan]="1">
      <mat-card *ngIf="selectedPackage" class="bill-view row">
          <div class="col-3">
              <small class="text-muted">Package</small>
              <div class="_500">{{selectedPackage.code}}</div>
          </div>
          <div class="col-9">
              <small class="text-muted">Description</small>
              <div class="_500">{{selectedPackage.description}}</div>
          </div>
          <div class="col-12 p-t-4" *ngFor="let bill of selectedPackage.bills">
            <div class="row bill-detail">
              <div class="col-3 padding">
                <small class="text-muted">Cost Code</small>
                <div class="_500">{{bill.costCode}}</div>
              </div>
              <div class="col-9 padding">
                <small class="text-muted">Cost Centre</small>
                <div class="_500">{{bill.costCentre}}</div>
              </div>
            </div>
          
            <mat-grid-list cols="12" rowHeight="100px">
              <ng-container *ngFor="let activity of bill.activities">
                <mat-grid-tile [colspan]="1" [rowspan]="1">{{activity.code}}</mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">{{activity.shortDescription}}</mat-grid-tile>
                <mat-grid-tile class="activity-description" [colspan]="4" [rowspan]="1">{{activity.description}}</mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">{{activity.uom}}</mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field style="width: 100px;">
                    <span matPrefix>&#8377;</span>
                    <input matInput placeholder="Rate" name="rate" [(ngModel)]="activity.rate">
                    <span matSuffix>.00</span>
                  </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="2" [rowspan]="1">
                  <mat-form-field style="width: 100px;">
                    <span matPrefix>&#8377;</span>
                    <input matInput placeholder="Amount" [(ngModel)]="activity.amount">
                    <span matSuffix>.00</span>
                  </mat-form-field>
                </mat-grid-tile>
              </ng-container>
            </mat-grid-list>
          </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>