<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Quantity Input</span>
    <span class="flex-spacer"></span>
    <button class="pull-right close" [mat-dialog-close]>
      <i class="material-icons">clear</i>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="margin" id="hot"></div>

<div class="text-right m-r text-sm" *ngIf="quantity">Total Quantity: {{quantity}}</div>
<div class="padding pull-right">
  <button class="m-r" mat-raised-button color="primary" (click)="calculate()">Calculate Quantity</button>
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>