.mat-drawer-container {
    background-color: #fff;
    min-height: 100vh;
  }
  
  .mat-toolbar-multiple-rows,
  .mat-toolbar-row {
    height: 56px!important;
    min-height: 56px!important;
  }
  
  .mat-drawer {
    background-color: #2a2b3c;
    width: 5rem;
  }
  
  .left-nav ul {
    padding: 0;
    margin: 0;
  }
  
  .left-nav ul li {
    color: #fff;
    padding: .875rem;
    margin: 0;
    color: #fff;
    padding: .875rem;
    margin: 0;
    text-align: center;
  }
  
  .left-nav ul li.active {
    background-color: #3f51b5;
  }
  
  .left-nav ul li:not(.active) a {
    color: #fff;
    text-decoration: none;
  }
  
  .left-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .left-nav ul li span {
    font-size: 12px;
  }
  
  .right-nav {
    font-size: 14px;
  }
    
  .right-nav li {
    list-style-type: none;
    float: left;
    margin: 0 0 0 16px;
    cursor: pointer;
  }
    
  .right-nav li.user-name {
    line-height: 24px;
  }
  
  .user-menu {
    padding: 0 16px;
    float: left;
    width: 280px;
  }
  
  .user-menu .avatar {
    float: left;
    margin: 0 17px 0 0;
    padding: 10px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  .user-menu .avatar .initials {
    font-size: 24px;
  }
  
  .user-menu .user-name {
    float: left;
    width: 180px;
  }
  .user-menu .user-name h1 {
    font-size: 16px;
    color: #4b5362;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .user-menu .user-name p {
    color: #8799b6;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .user-menu .nav-items {
    border-top: 1px solid #e8e9ea;
    float: left;
    width: 100%;
    padding: 12px 0 0;
  }
  .user-menu .nav-items li {
    float: left;
    clear: both;
    width: 100%;
    padding: 8px;
  }
  
  .user-menu .nav-items li:hover {
    background-color: #ccc;
    cursor: pointer;
  }
  
  .user-menu .nav-items li a {
    font-size: 14px;
    color: #6f7685;
    font-weight: 400;
    letter-spacing: .8px;
  }
  .user-menu .nav-items li a i {
    vertical-align: middle;
    margin-left: 0;
    margin-right: 1rem;
  }
  
  .add-another {
    position: fixed;
    top: 72px;
    right: 18px;
  }
  
  .badge {
    position:relative;
  }
  .badge[data-badge]:after {
    content:attr(data-badge);
    position:absolute;
    top:-8px;
    right:-8px;
    font-size:.7em;
    background:green;
    color:white;
    width:18px;height:18px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    font-family: initial;
  }
  .notifiications {
    width: 280px;
  }
  .notifiications ul {
    padding: 0;
  }
  .notifiications .icon {
    padding: 0 12px;
  }
  .notification-actions {
    padding: 0 32px;
  }