<mat-card>
  <div [hidden]="!mastersDataSource.data.length" class="masters-list mat-elevation-z8">
    <h3 class="header">Masters List</h3>

    <mat-table #table [dataSource]="mastersDataSource">
      <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef> Package Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="costCode">
        <mat-header-cell *matHeaderCellDef> Cost Code </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costCode}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="costCentre">
        <mat-header-cell *matHeaderCellDef> Cost Centre </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.costCentre}} </mat-cell>
      </ng-container>
      
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let element" class="masters-actions">
          <i (click)="editMaster()" matTooltip="Edit Masters" class="material-icons link">mode_edit</i>
          <i (click)="deleteMaster(element._id)" matTooltip="Delete Masters" class="material-icons link">delete</i>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
    </mat-paginator>

    <button (click)="newMasterDialog()" matTooltip="Add Another Master" class="add-another" mat-mini-fab color="warn">
      <i class="material-icons link" mat-button>add</i>
    </button>
  </div>
  <div [hidden]="mastersDataSource.data.length" class="first-project-msg text-center">
    <img src="/assets/images/no-proposals-illustration.png">
    <div>
      <h2>No Master Schedules Found.</h2>
      <button (click)="newMasterDialog()" mat-raised-button color="primary">
        CREATE A MASTER SCHEDULE
      </button>
    </div>
  </div>
</mat-card>